<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- start basic args -->
    <arg name="veh" default="$(env VEHICLE_NAME)"/>
    <arg name="config" default="baseline" />
    <arg name="param_file_name" default="default" />
    <arg name="verbose" default="true" />
    <arg name="loc" default="-1"/>
    <arg name="line_detector_param_file_name" default="$(arg param_file_name)"/>

    <arg name="lane_following" default="true"/>
    <arg name="/lane_following/line_detection" default="true"/>
    <arg name="/lane_following/lane_filter" default="true"/>
    <arg name="/lane_following/ground_projection" default="true"/>
    <arg name="/lane_following/lane_controller" default="true"/>

    <arg name="inverse_kinematics" default="true"/>

    <group if="$(arg lane_following)">


    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <!-- TOGGLE PROJECT ELEMENTS ON AND OFF -->
    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <arg name="gp_estimator_on" default="false"/>
    <arg name="custom_control_on" default="true"/>
    <arg name="custom_image_processing_on" default="true"/>
    <arg name="simple_estimator_on" default="true"/>

            <!-- Line Detector -->
            <group if="$(arg /lane_following/line_detection)">
                <group unless="$(arg custom_image_processing_on"> <!-- Do not activate if custom image processing is on -->
                    <remap from="line_detector_node/transform" to="anti_instagram_node/transform"/>
                    <remap from="line_detector_node/corrected_image/compressed" to="corrected_image/compressed"/>
                    <include file="$(find line_detector)/launch/line_detector_node.launch">
                        <arg name="veh" value="$(arg veh)"/>
                        <arg name="config" value="$(arg config)"/>
                        <!-- NOTE: "line_detector_param_file_name" as special case -->
                        <arg name="param_file_name" value="$(arg line_detector_param_file_name)"/>
                        <arg name="verbose" value="$(arg verbose)" />
                    </include>
                </group>
            </group>

            <!-- Ground Projection - Always on -->
            <group if="$(arg /lane_following/ground_projection)">
                    <include file="$(find ground_projection)/launch/ground_projection.launch">
                        <arg name="veh" value="$(arg veh)"/>
                        <arg name="config" value="$(arg config)"/>
                        <arg name="param_file_name" value="$(arg param_file_name)"/>
                    </include>
            </group>

            <!-- Lane Filter -->
            <group if="$(arg /lane_following/lane_filter)">
                <group unless="$(arg simple_estimator_on)"> <!-- Do not activate if simple estimator is on. TODO also dont if Thomas' estimator is on -->
                    <remap from="lane_filter_node/segment_list" to="ground_projection/lineseglist_out"/>
                    <remap from="lane_filter_node/car_cmd" to="/$(arg veh)/car_cmd"/>
                    <include file="$(find lane_filter)/launch/lane_filter_node.launch">
                        <arg name="veh" value="$(arg veh)"/>
                        <arg name="config" value="$(arg config)"/>
                        <arg name="param_file_name" value="$(arg param_file_name)"/>
                    </include>
                </group>
            </group>
            
            <!-- Lane controller -->
            <group if="$(arg /lane_following/lane_controller)">
                <group unless="$(arg custom_control_on)"> <!-- Do not activate if custom control is on -->
                    <remap from="lane_controller_node/lane_pose" to="lane_filter_node/lane_pose"/>
                    <remap from="lane_controller_node/wheels_cmd_executed" to="wheels_driver_node/wheels_cmd_executed" />
                    <remap from="lane_controller_node/actuator_limits" to="inverse_kinematics_node/actuator_limits" />

                    <include file="$(find lane_control)/launch/lane_controller_node.launch">
                        <arg name="veh" value="$(arg veh)"/>
                        <arg name="config" value="$(arg config)"/>
                        <arg name="param_file_name" value="$(arg param_file_name)"/>
                    </include>
                </group>
            </group>

            <!-- Inverse Kinematic Node -->
            <group if="$(arg inverse_kinematics)">
                <!-- read from custom control if active -->
                <remap if="$(arg custom_control_on)" from="inverse_kinematics_node/car_cmd" to="custom_control_node/car_cmd"/>
                <remap unless="$(arg custom_control_on)" from="inverse_kinematics_node/car_cmd" to="lane_controller_node/car_cmd"/>
                <remap from="inverse_kinematics_node/wheels_cmd" to="wheels_driver_node/wheels_cmd" />
                
                <include file="$(find dagu_car)/launch/inverse_kinematics_node.launch">
                    <arg name="veh" value="$(arg veh)"/>
                    <arg name="config" value="$(arg config)"/>
                </include>
            </group>


            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            <!-- PROJECT Image processing: lane_detector_node -->
            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            <group if="$(arg custom_image_processing_on)">
                <remap from="dt_project_lane_detector_node/transform" to="anti_instagram_node/transform"/>
                <remap from="dt_project_lane_detector_node/fsm_mode" to="fsm_node/mode" />
                <remap from="dt_project_lane_detector_node/corrected_image/compressed"
                to="anti_instagram_node/corrected_image/compressed"/>
                <include file="$(find dt_project_lane_detector)/launch/dt_project_lane_detector_node.launch">
                    <arg name="veh" value="$(arg veh)"/>
                    <arg name="verbose" value="$(arg verbose)" />
                    <!-- Note: uses custom config file -->
                    <arg name="param_file_name" value="$(arg project_param_file_name)"/>
                </include>
            </group>
            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->




            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            <!-- PROJECT lane_estimation_node -->
            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            <group if="$(arg gp_estimator_on)">
                <remap from="dt_project_estimator_node/segment_list" to="ground_projection/lineseglist_out"/>
                <remap from="dt_project_estimator_node/car_cmd" to="/$(arg veh)/car_cmd"/>
                <remap from="dt_project_estimator_node/fsm_mode" to="fsm_node/mode"/>
                <include file="$(find dt_project_estimator)/launch/dt_project_estimator_node.launch">
                    <arg name="veh" value="$(arg veh)"/>
                    <arg name="param_file_name" value="default"/>
                </include>
            </group>
            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->




            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            <!-- PROJECT simple_estimator_node -->
            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            <group if="$(arg simple_estimator_on)">
                <remap from="simple_estimator_node/seglist_ground_projection" to="ground_projection/lineseglist_out"/>
                <include file="$(find simple_estimator_pkg)/launch/simple_estimator_node.launch">
                    <arg name="veh" value="$(arg veh)"/>
                    <arg name="param_file_name" value="default"/>
                </include>
            </group>
            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->



            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            <!-- PROJECT controller -->
            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            <group if="$(arg custom_control_on)">
                <!-- Subscribe to either the lane pose coming from lane_filter_node (default) or dt_project_estimator_node (project) -->
                <remap if="$(arg simple_estimator_on)" from="custom_control_node/lane_pose" to="simple_estimator_node/lane_pose"/>
                <remap if="$(arg gp_estimator_on)" from="custom_control_node/lane_pose" to="dt_project_estimator_node/lane_pose"/>
                <remap unless="$(arg simple_estimator_on)" from="custom_control_node/lane_pose" to="lane_filter_node/lane_pose"/>     
                
                <!-- Standard remaps -->
                <remap from="custom_control_node/wheels_cmd_executed" to="wheels_driver_node/wheels_cmd_executed" />
                <remap from="custom_control_node/fsm_mode" to="fsm_node/mode"/>
                <include file="$(find custom_control_pkg)/launch/custom_control_node.launch">
                    <arg name="veh" value="$(arg veh)"/>
                    <arg name="param_file_name" value="$(arg param_file_name)"/>
                </include>
            </group>
            <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->







            <!-- Start Test Node -->
            <!-- <node pkg="dt_dependent_node" name="dt_dependent_node" type="dt_dependent_node.py" output="screen" />  -->
            <!-- End Test Node -->
            
            <!-- Start Copied, Custom Node -->
            <!-- <include file="$(find custom_line_detector)/launch/line_detector_node.launch"/> -->
            <!-- End Copied, Custom Node -->

    </group>
    <!-- End Lane Control -->

</launch>
