<launch>
  <node pkg="rosbag" type="play" name="rosbag" respawn="true" required="false" args="/test2.bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="true" required="false" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/camera_out/image"/>
  </node>
</launch>